entityframework/DataabaseFirstApp/.vs/*

entityframework/DataabaseFirstApp/DataabaseFirstApp/App.config
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.Context.cs
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.Context.tt
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.Designer.cs
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.cs
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.edmx
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.edmx.diagram
entityframework/DataabaseFirstApp/DataabaseFirstApp/NorthWindModel.tt
entityframework/DataabaseFirstApp/DataabaseFirstApp/obj/Debug/TempPE/
entityframework/DataabaseFirstApp/DataabaseFirstApp/packages.config

entityframework/FootballApplication/.vs/*
entityframework/FootballApplication/FootballApplication/App.config

entityframework/AutomaticMigrationEnable/.vs/*
entityframework/AutomaticMigrationEnable/AutomaticMigrationEnable/App.config

webapi/ProgrammingApp/.vs/*
webapi/ProgrammingApp/Programming.DAL/App.Config
webapi/ProgrammingApp/Programming.API/Web.config

soa/PersonnelApp/.vs/*
soa/PersonnelApp/ConsoleApp1/.vs/*
soa/PersonnelApp/ConsoleApp1/App.Config
soa/PersonnelApp/PersonnelApp.Console.UI/.vs/*
soa/PersonnelApp/PersonnelApp.Console.UI/App.Config
soa/PersonnelApp/PersonnelApp.DAL/.vs/*
soa/PersonnelApp/PersonnelApp.DAL/App.Config
soa/PersonnelApp/PersonnelApp.Domain/.vs/*